.task-container {
    /* border: 1px solid red; */
    font-size: 2rem;
    min-width: 21.5rem;
    max-width: 40rem;
    min-height: 60vh;
    max-height: 80vh;
    overflow: auto;
    scrollbar-width: none;
    margin: 2rem auto 2rem auto;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(73, 72, 72, 0.288);
}

/* .col-labels {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.5rem;
} */

.task-placeholder-container {
    user-select: none;
    font-size: 1.5rem;
    overflow: hidden;
    border: 1px solid grey;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    cursor: pointer;
}

.task-placeholder-container:hover {
    backdrop-filter: brightness(60%);
}
