/* makes sizing simpler */
*, *::before, *::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 80vh;
  background-color: rgb(226, 233, 229);
}

/* responsive images/videos */
img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* Remove list-style of ul */
ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}