.task-card-container {
    overflow: hidden;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 8px;
}
.task-card-container:hover {
    filter: brightness(1.05);
}

.task-card-container .task-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.task-card-container .task-card-details {
    font-size: 1.1rem;
    padding: 1rem 2rem 0 2rem;
    overflow: hidden;
}

.task-card-container .task-card-header .task-title-color {
    display: flex;
    align-items: center;
    width: 65%;
    gap: 1rem;
    cursor: pointer;
}

.task-card-container .task-card-header .task-color {
    width: 1rem;
    height: 2rem;
    background-color: #000000;
}
.task-card-container .task-card-header .task-controls {
    /* padding-bottom: 1rem; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task-controls .icon-edit:hover,
.task-controls .icon-delete:hover {
    color: #1FA172
}

/* Do separate component for btn */
.task-card-container .btn {
    
}