.sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 18px 0 18px 0;
    font-size: 1.5rem;
}

.sort-container:hover {
    filter: brightness(1.2);
}

.sort-select {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    background-color: #6D706E;
}